<footer>

    <div class="footer-content">

        <h3>Ford Capri III Werksturbo Register</h3>

        <div class="footer-nav">

            <a href="../index.html">Startseite</a>
            <a href="../register.html">Register</a>
            <a href="dokumente.html">Dokumente</a>
            <a href="pressefotos.html">Pressefotos</a>
            <a href="kontakt.html">Kontakt</a>

        </div>

        <div class="footer-nav">

            <a href="impressum.html">Impressum</a>
            <a href="datenschutz.html">Datenschutz</a>

        </div>

        <div class="footer-bottom">

            © 2028 Werksturbo Register

        </div>

    </div>

</footer>
